.SearchBarTop {
  display: none;
}

@media all and (min-width: 767px) {
  .SearchBarTop {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    background: var(--brand-secondary);
    position: fixed;
    top: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }

  .show {
    opacity: 1;
    visibility: visible;
  }

  .SearchBarTop > * {
    margin: 0 1.25rem 0 0;
  }

  .SearchBarTop > *:last-child {
    margin: 0;
  }

  .SearchBarTop > :nth-child(1) {
    width: 365px;
  }

  .SearchBarTop > :nth-child(2) {
    width: 245px;
  }
}
