.BusinessList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(112px, 1fr));
  gap: 32px 16px;
  margin-bottom: 4rem;
}

@media all and (min-width: 767px) {
  .BusinessList {
    grid-template-columns: repeat(3, minmax(183px, 1fr));
    gap: 48px 16px;
    margin-bottom: 7rem;
  }
}
