.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4.375rem;
  width: 100%;
}

.SearchBar > * {
  margin-bottom: 1.25rem;
}

.SearchBar > *:last-child {
  margin-bottom: 0;
}

@media all and (min-width: 767px) {
  .SearchBar {
    flex-direction: row;
    width: 672px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .SearchBar > * {
    margin: 0 1.25rem 0 0;
  }

  .SearchBar > *:last-child {
    margin: 0;
  }

  .SearchBar > :nth-child(1) {
    width: 377px;
  }

  .SearchBar > :nth-child(2) {
    width: 275px;
  }
}
