<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../../public/reset.css" />
    <link rel="stylesheet" href="../App/App.css" />
    <link rel="stylesheet" href="../BusinessList/BusinessList.css" />
    <link rel="stylesheet" href="./Business.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="App">
      <div class="BusinessList" style="margin-top: 100px;">
        <div class="Business">
          <figure class="image-container"></figure>

          <div class="information">
            <div class="main-info">
              <h2>
                New York Pizzeria The Best Pizza In All of New York Yessiree
              </h2>
              <span class="tag-list">
                Pizza • Lasagna • Sandwiches • Pasta • Spaghetti • Smoothies •
                Ice Cream • Salad
              </span>
            </div>
            <div class="review-info">
              4.5
              <p>27 ratings</p>
            </div>
          </div>
        </div>

        <div class="Business">
          <figure class="image-container"></figure>

          <div class="information">
            <div class="main-info">
              <h2>
                New York Pizzeria The Best Pizza In All of New York Yessiree
              </h2>
              <span class="tag-list">
                Pizza • Lasagna • Sandwiches • Pasta • Spaghetti • Smoothies •
                Ice Cream • Salad
              </span>
            </div>
            <div class="review-info">
              4.5
              <p>27 ratings</p>
            </div>
          </div>
        </div>

        <div class="Business">
          <figure class="image-container"></figure>

          <div class="information">
            <div class="main-info">
              <h2>
                New York Pizzeria The Best Pizza In All of New York Yessiree
              </h2>
              <span class="tag-list">
                Pizza • Lasagna • Sandwiches • Pasta • Spaghetti • Smoothies •
                Ice Cream • Salad
              </span>
            </div>
            <div class="review-info">
              4.5
              <p>27 ratings</p>
            </div>
          </div>
        </div>

        <div class="Business">
          <figure class="image-container"></figure>

          <div class="information">
            <div class="main-info">
              <h2>
                New York Pizzeria The Best Pizza In All of New York Yessiree
              </h2>
              <span class="tag-list">
                Pizza • Lasagna • Sandwiches • Pasta • Spaghetti • Smoothies •
                Ice Cream • Salad
              </span>
            </div>
            <div class="review-info">
              4.5
              <p>27 ratings</p>
            </div>
          </div>
        </div>

        <div class="Business">
          <figure class="image-container"></figure>

          <div class="information">
            <div class="main-info">
              <h2>
                New York Pizzeria The Best Pizza In All of New York Yessiree
              </h2>
              <span class="tag-list">
                Pizza • Lasagna • Sandwiches • Pasta • Spaghetti • Smoothies •
                Ice Cream • Salad
              </span>
            </div>
            <div class="review-info">
              4.5
              <p>27 ratings</p>
            </div>
          </div>
        </div>

        <div class="Business">
          <figure class="image-container"></figure>

          <div class="information">
            <div class="main-info">
              <h2>
                New York Pizzeria The Best Pizza In All of New York Yessiree
              </h2>
              <span class="tag-list">
                Pizza • Lasagna • Sandwiches • Pasta • Spaghetti • Smoothies •
                Ice Cream • Salad
              </span>
            </div>
            <div class="review-info">
              4.5
              <p>27 ratings</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
