.Business {
  display: flex;
  flex-direction: column;
}

.Business a,
.Business a:link,
.Business a:visited,
.Business a:hover,
.Business a:active {
  text-decoration: none;
  color: var(--text-dark);
}

.Business .image-container {
  height: 171px;
  margin-bottom: 0.5rem;
  background: #e1e1e1;
}

.Business .information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Business .main-info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-info h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag-list {
  color: var(--text-light);
  font-size: 0.8125rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Business .review-info {
  display: none;
}

.Business .rating {
  margin-bottom: 0.375rem;
}

.Business h2 {
  font-size: 0.875rem;
  font-weight: bold;
}

@media all and (min-width: 767px) {
  .Business .image-container {
    height: 222px;
  }
}

@media all and (min-width: 1023px) {
  .Business h2 {
    font-size: 1.0625rem;
    line-height: 1.4;
  }

  .Business .review-info {
    display: block;
    text-align: right;
    min-width: 73px;
  }

  .Business .review-info p {
    font-size: 0.75rem;
    color: var(--text-light);
  }
}
